* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
.navbar .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar .hamburger {
    display: none;
    cursor: pointer;
}
.navbar .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease;
}

/* Responsive */
/*@media (max-width: 768px) {
    .navbar ul {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      text-align: center;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  
    .navbar .hamburger {
      display: block;
    }
  
    .navbar ul.show {
      display: flex;
    }
  }