body{
    background-image: url(/image/depositphotos_468664960-stock-photo-green-color-abstract-background.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: goldenrod;
}

#message-el{
    font-style: italic;
    

}
button {
    background-color: goldenrod;
    border: none;
    text-align: center;
    color: #016f32;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 2px;


}